.display{
 width: 70%;
max-width: 80%;
min-width: 50%;
margin-left: px;

}
.chatBar{
height: 95vh;
  
  min-width: 20%;

}
.recentchats{
 box-shadow: 5px 3px 5px 0px black;
}
.cross{
position: relative;
left:340px ;
}

.scale-0 {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.scale-100 {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.darkImage{
background-color: #1a1b1eee;
height: 100vh;
}
.lightImage{

  background-color: #d4d4d4d2;
height: 100vh;

}
.search{
border: 1px solid black;
  
}
.welcomeMsg{
position: relative;
top: 320px;
z-index: 1;
box-sizing: border-box;
overflow: hidden;
color: aliceblue;
background-color: rgba(53, 52, 52, 0.251);
border-radius: 25px;


}
.mes:focus,
.mes:valid{
  
}

.chats::-webkit-scrollbar{
  width: 0px;
  background-color: rgb(246, 246, 246);
  
  }
  .chats:hover::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(246, 246, 246);
transition: all 1s;
    }
::-webkit-scrollbar-track{
  background-color: #ffffff00;

  height: 10px;
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(166, 166, 166, 0.867);
    /* background: radial-gradient(circle, #D3D3D3, #00008B); */
   
  
   
    cursor: pointer;
  }

  .contents12{
    max-height:99vh;
  }
  .contents12::-webkit-scrollbar{
    width: 0px;
    background-color: rgb(246, 246, 246);
    
    }

  .contents12:hover::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(246, 246, 246);
transition: all 1s;
    }
::-webkit-scrollbar-track{
  background-color: #ffffff00;

  height: 10px;
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(166, 166, 166, 0.867);
    /* background: radial-gradient(circle, #D3D3D3, #00008B); */
   
  
   
    cursor: pointer;
  }
  .header{
    margin-left: 1px;
  }
  .footer{
    margin-left: 1px;
  }
.time{
  font-size: 11px;
  color: rgba(83, 82, 82, 0.74);
  font-weight: 600;
display: flex;
justify-content: end;
overflow: hidden;
margin-right: 15px;

}
.bars{
  border: none;
}